.borderless.dropdown-toggle::after,
.suggestion-flag.dropdown-toggle::after,
.icon-menu.dropdown-toggle::after {
    content: none;
}

.vertical-center {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.no-overflow, .suggestion-title, .suggestion-views {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.borderless {
    border: none;
}

.btn, .form-control, .modal-content, .dropdown-menu, .alert, .popover {
    border-radius: 0;
}

.modal-lg {
    max-width: 98%;
}

.embed-responsive-4by3 {
    padding-bottom: calc(100vh - 2 * (31px + 2.375rem) - 90px);
}

.nav-item {
    cursor: pointer;
}

.uls-search-label {
    visibility: hidden;
}

.uls-medium {
    width: 360px;
}

.suggestion {
    height: 15.5rem;
    width: 16rem;
    border: 1px solid #ccc;
    margin-right: 1rem;
    display: inline-block;
}

.suggestion.list-group-item {
    border-radius: 0;
    padding: 0;
}

.suggestion-image {
    width: 100%;
    height: 8rem;
    border: none;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 33%;
    background-position-x: center;
    cursor: pointer;
}

.suggestion:hover{
    border-color:#347BFF
}

.suggestion-flag:hover {
    color:#347BFF
}

.suggestion-body {
    height: 5rem;
    padding-left: .5rem;
    text-align: left;
    cursor: pointer;
}

.suggestion-title {
    height: 2rem;
    font-size: 1.5rem;
    margin: 0;
}

.suggestion-text {
    height: 3rem;
    font-size: 1rem;
    margin: 0;
    overflow: hidden;
}

.suggestion-footer {
    height: 2rem;
    padding-left: .5rem;
    text-align: left;
}

.suggestion-views {
    line-height: 2rem;
    font-size: .8rem;
    vertical-align: middle;
}

.suggestion-flag {
    height: 100%;
    line-height: 2rem;
    font-size: 1.5rem;
    vertical-align: middle;
    border: none;
    padding: 0 .5rem 0 .5rem;
    cursor: pointer;
    float: right;
}

.icon {
    display: inline-block;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}

.icon-lightbulb {
    background-image: url("images/lightbulb.svg");
}

.icon-expand {
    background-image: url("images/expand.svg");
    width: 1rem;
}

.icon-menu {
    background-image: url("images/menu.svg");
    margin-top: .5rem;
    float: right;
}

.icon-menu:hover {
    background-color: #ccc;
}

.title-display, .title-display-strong, .title-display-version, .icon-title {
    font-size: 2rem;
    height: 2rem;
    line-height: 3rem;
    vertical-align: middle;
}

.icon-title {
    width: 2rem;
}

.title-display {
    font-weight: 300;
}

.title-display-strong {
    font-weight: 600;
}

.title-display-version {
    font-size: 1rem;
    font-weight: 300;
}

.selector-display, .icon-selector {
    font-size: 1rem;
    height: 2rem;
    line-height: 2rem;
    vertical-align: middle;
}

.source-selector {
    border-right: 0;
}

.target-selector {
    border-left: 0;
}

.source-selector, .target-selector {
    padding: 0;
}

.source-selector:after, .source-selector:before {
    content: ' ';
    display: block;
    position: absolute;
    top: 1px;
    left: 100%;
    width: 0;
    height: 0;
    border-color: transparent transparent transparent #ffffff;
    border-style: solid;
    border-width: 1rem;
    z-index: 100;
}

.source-selector:before {
    top: 0;
    border-color: transparent transparent transparent #ccc;
    border-width: calc(1rem + 1px);
}

.seed-container {
    background: #ddd;
    border-color: #666 transparent transparent transparent;
    border-width: 1px;
    border-style: solid;
}

.seed-input {
    border: 0;
    background-color: transparent;
    background-image: url("images/search.svg");
    background-repeat: no-repeat;
    background-position: center left;
    text-indent: 1rem;
    color: #111;
}

.seed-input::-webkit-input-placeholder {
    color: #666;
}
.seed-input:-moz-placeholder {
    color: #666;
    opacity: 1;
}
.seed-input::-moz-placeholder {
    color: #666;
    opacity: 1;
}
.seed-input:-ms-input-placeholder {
    color: #666;
}
