.borderless.dropdown-toggle::after {
    content: none;
}

.vertical-center {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.no-overflow {
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
}

.borderless {
    border: none;
}

.modal-lg {
    max-width: 98%;
}

.nav-item {
    cursor: pointer;
}

.suggestion-container {
    text-align: center;
}

.suggestion {
    height: 15.5rem;
    width: 16rem;
    border: 1px solid #ccc;
    /*margin-bottom: 1rem;*/
    margin: auto 1rem;
    /*margin-right: 1rem;*/
    display: inline-block;
    /*float: left;*/
}

.suggestion.list-group-item {
    border-radius: 0;
    padding: 0;
}

.suggestion-image {
    width: 100%;
    height: 8rem;
    border: none;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.suggestion-body {
    height: 5rem;
    padding-left: .5rem;
    text-align: left;
}

.suggestion-title {
    height: 2rem;
    font-size: 1.5rem;
    margin: 0;
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
}

.suggestion-text {
    height: 3rem;
    font-size: 1rem;
    margin: 0;
    overflow: hidden;
}

.suggestion-footer {
    height: 2rem;
    padding-left: .5rem;
    text-align: left;
}

.suggestion-views {
    line-height: 2rem;
    font-size: .8rem;
    vertical-align: middle;
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
}

.suggestion-flag {
    height: 100%;
    line-height: 2rem;
    font-size: 1.5rem;
    vertical-align: middle;
    border: none;
    padding: 0 .5rem 0 .5rem;
    cursor: pointer;
    float: right;
}

.suggestion-flag.dropdown-toggle::after {
    content: none;
}

