.borderless.dropdown-toggle::after {
    content: none;
}

.vertical-center {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.no-overflow {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.borderless {
    border: none;
}

.modal-lg {
    max-width: 98%;
}

.nav-item {
    cursor: pointer;
}
